<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Editing Subcategory</h1>
  </div>
</div>

<div class="container">

  <%= render 'form', subcategory: @subcategory %>

  <%= link_to 'Show', @subcategory, class:'btn btn-default' %> |
  <%= link_to 'Back', subcategories_path, class:'btn btn-default' %>

</div>
