<div class="container">
  <%= render 'layouts/flash' %>
  <h1 class="text-center">About</h1>
  <div class="media">
    <div class="media-left col-md-3">
      <img class="media-object" src="http://via.placeholder.com/250x150" alt="...">
    </div>
    <div class="media-body col-md-9">
      <h4 class="media-heading">Media heading</h4>
      <p>
        Vivamus congue enim nulla, et gravida enim mollis ut. Integer tristique ac dolor vitae accumsan. Pellentesque eget dapibus leo. Integer euismod risus enim. Duis efficitur malesuada ultricies. Phasellus erat eros, dignissim aliquet leo non, feugiat dictum ligula. Nunc tempus arcu justo, vehicula dignissim orci dignissim dapibus. Ut accumsan quam risus, vel tincidunt metus varius vel. Nunc ac malesuada dui, id condimentum nibh. Integer semper facilisis leo non feugiat. Aliquam erat volutpat. Morbi lobortis, metus vel porttitor auctor, tellus arcu iaculis sem, ut cursus nunc sem nec lectus. Quisque ac mattis mi. In interdum enim tempus enim commodo egestas.
      </p>
    </div>
  </div>

  <br>

  <div class="media">
    <div class="media-body col-md-9">
      <h4 class="media-heading">Media heading</h4>
      <p>
        Vivamus congue enim nulla, et gravida enim mollis ut. Integer tristique ac dolor vitae accumsan. Pellentesque eget dapibus leo. Integer euismod risus enim. Duis efficitur malesuada ultricies. Phasellus erat eros, dignissim aliquet leo non, feugiat dictum ligula. Nunc tempus arcu justo, vehicula dignissim orci dignissim dapibus. Ut accumsan quam risus, vel tincidunt metus varius vel. Nunc ac malesuada dui, id condimentum nibh. Integer semper facilisis leo non feugiat. Aliquam erat volutpat. Morbi lobortis, metus vel porttitor auctor, tellus arcu iaculis sem, ut cursus nunc sem nec lectus. Quisque ac mattis mi. In interdum enim tempus enim commodo egestas.
      </p>
    </div>
    <div class="media-right col-md-3">
      <img class="media-object" src="http://via.placeholder.com/250x150" alt="...">
    </div>
  </div>

  <br>

  <div class="media">
    <div class="media-left col-md-3">
      <img class="media-object" src="http://via.placeholder.com/250x150" alt="...">
    </div>
    <div class="media-body col-md-9">
      <h4 class="media-heading">Media heading</h4>
      <p>
        Vivamus congue enim nulla, et gravida enim mollis ut. Integer tristique ac dolor vitae accumsan. Pellentesque eget dapibus leo. Integer euismod risus enim. Duis efficitur malesuada ultricies. Phasellus erat eros, dignissim aliquet leo non, feugiat dictum ligula. Nunc tempus arcu justo, vehicula dignissim orci dignissim dapibus. Ut accumsan quam risus, vel tincidunt metus varius vel. Nunc ac malesuada dui, id condimentum nibh. Integer semper facilisis leo non feugiat. Aliquam erat volutpat. Morbi lobortis, metus vel porttitor auctor, tellus arcu iaculis sem, ut cursus nunc sem nec lectus. Quisque ac mattis mi. In interdum enim tempus enim commodo egestas.
      </p>
    </div>
  </div>

  <br>

  <div class="media">
    <div class="media-body col-md-9">
      <h4 class="media-heading">Media heading</h4>
      <p>
        Vivamus congue enim nulla, et gravida enim mollis ut. Integer tristique ac dolor vitae accumsan. Pellentesque eget dapibus leo. Integer euismod risus enim. Duis efficitur malesuada ultricies. Phasellus erat eros, dignissim aliquet leo non, feugiat dictum ligula. Nunc tempus arcu justo, vehicula dignissim orci dignissim dapibus. Ut accumsan quam risus, vel tincidunt metus varius vel. Nunc ac malesuada dui, id condimentum nibh. Integer semper facilisis leo non feugiat. Aliquam erat volutpat. Morbi lobortis, metus vel porttitor auctor, tellus arcu iaculis sem, ut cursus nunc sem nec lectus. Quisque ac mattis mi. In interdum enim tempus enim commodo egestas.
      </p>
    </div>
    <div class="media-right col-md-3">
      <img class="media-object" src="http://via.placeholder.com/250x150" alt="...">
    </div>
  </div>
</div>
