<div class="container">
  <%= render 'layouts/flash' %>
  <h1 class="rte-heading text-center">Terms of Service</h1>
  <div class="row">
    <div class="rte col-md-offset-2 col-md-8">
      <p>
        Pellentesque luctus ligula quis neque lacinia, vitae auctor lorem hendrerit. In rutrum nibh quis urna feugiat varius. Praesent a massa id tellus egestas consequat in aliquet nisl. Morbi eleifend commodo nisl, vel eleifend nunc pellentesque vel. Phasellus gravida diam a gravida sodales. Etiam interdum ullamcorper consectetur. Curabitur eu scelerisque ex. Phasellus vel dapibus purus, ut consectetur ante. Cras vel tempus ligula.
        Sed id viverra metus, nec commodo eros. Nunc sit amet viverra dui. Cras sit amet consequat dui, ac lobortis mauris. In hac habitasse platea dictumst. Suspendisse viverra, nunc eu blandit mattis, nisl mi elementum lacus, id tincidunt quam mauris quis dolor. Curabitur tortor eros, laoreet vel elit id, aliquet commodo mi. Phasellus posuere vel nisl eu malesuada.
        In ullamcorper diam sit amet est gravida pulvinar nec at eros.
      </p>

      <h2>1. General Terms</h2>
      <p>1.1) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet, purus vitae facilisis porttitor, est ex cursus libero, a consectetur turpis enim sed nunc. Ut scelerisque, nisi quis euismod porttitor, arcu augue venenatis leo, ac laoreet diam lacus ac tellus. Fusce hendrerit placerat nisl, a placerat nisi lacinia eget.</p>

      <h2>2. Products</h2>
      <p>2.1) Cras nec turpis a augue vehicula ultricies nec vitae massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum commodo nulla, eu placerat ante blandit eu.</p>
      <p>2.2) Vestibulum vulputate id tellus non aliquam. Vivamus volutpat odio venenatis aliquam blandit. Suspendisse purus urna, ullamcorper eget consequat sed, hendrerit eget odio. In hac habitasse platea dictumst. Nulla luctus, risus a hendrerit tincidunt, enim felis consequat dolor, ac eleifend lacus dui sit amet eros.</p>

      <h2>3. Security</h2>
      <p>3.1) Donec vel nibh ornare lectus dapibus feugiat at vitae ex. In id varius quam, id gravida orci.</p>

      <h2>4. Refunds</h2>
      <p>4.1) Vivamus congue enim nulla, et gravida enim mollis ut. Integer tristique ac dolor vitae accumsan. Pellentesque eget dapibus leo. Integer euismod risus enim.</p>

      <h2>5. Ownership</h2>
      <p>5.1) Duis efficitur malesuada ultricies. Phasellus erat eros, dignissim aliquet leo non, feugiat dictum ligula. Nunc tempus arcu justo, vehicula dignissim orci dignissim dapibus. Ut accumsan quam risus, vel tincidunt metus varius vel.</p>

      <h2>Changes to terms</h2>
      <p>Nunc ac malesuada dui, id condimentum nibh. Integer semper facilisis leo non feugiat.</p>
    </div>
  </div>
</div>
