<footer>

  <div class="search-text">
    <div class="container">
      <div class="row text-center">
        <div class="form">
          <%= render 'leads/newsletter' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="border-top:1px solid grey;">
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="menu">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/tutorials/">Tutorials</a></li>
          <li><a href="/articles/">News</a></li>
          <li><a href="/contacts/">Contact</a></li>
          <li><a href="/pages/about/">About</a></li>
        </ul>

        <br>

        <ul class="menu">
          <li><a href="/pages/termsofservice/">Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>


<div class="copyright">
  <div class="container">
    <div class="row text-center">
      <p>Copyright © 2018 All rights reserved</p>
    </div>
  </div>
</div>
