<header>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="<%= root_path %>" class="navbar-brand">L'Estampillerie</a>
      </div>
      <ul class="nav navbar-nav navbar-left text-uppercase ">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/pages/about/">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- if current_user -->
          <li><a href="#">My profile</a></li>
          <li><a href="#" data-method="delete">Sing out</a></li>
        <!-- else -->
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Sign up</a></li>
        <!-- end -->
      </ul>
    </div>
  </div>
</header>
